@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", system-ui;
}

@layer base {
  :root {
    --gradient: #000C40;
  --background: 243 100% 98.26%;
  --foreground: 243 10% 0.52%;

  --muted: 243 10% 91.3%;
  --muted-foreground: 243 5% 41.3%;

  --popover: 243 10% 91.3%;
  --popover-foreground: 243 10% 0.65%;

  --card: 243 10% 91.3%;
  --card-foreground: 243 10% 0.65%;

  --border: 243 15% 89.52%;
  --input: 243 15% 89.52%;

  --primary: 243 100% 13%;
  --primary-foreground: 243 2% 91.3%;

  --secondary: 243 5% 95.65%;
  --secondary-foreground: 243 7% 11.3%;

  --accent: 243 5% 95.65%;
  --accent-foreground: 243 7% 11.3%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --ring: 243 100% 13%;

  --radius: 0.5rem;
  }

  .dark {
    --gradient: #1e3c72;

    --background: 232 37.699999999999996% 2.24%;
    --foreground: 232 5.8% 96.4%;

    --muted: 232 28.999999999999996% 8.4%;
    --muted-foreground: 232 5.8% 52.8%;

    --popover: 232 53.4% 3.6400000000000006%;
    --popover-foreground: 232 5.8% 96.4%;

    --card: 232 53.4% 3.6400000000000006%;
    --card-foreground: 232 5.8% 96.4%;

    --border: 232 28.999999999999996% 8.4%;
    --input: 232 28.999999999999996% 8.4%;

    --primary: 232 58% 28%;
    --primary-foreground: 232 5.8% 96.4%;

    --secondary: 232 28.999999999999996% 8.4%;
    --secondary-foreground: 232 5.8% 96.4%;

    --accent: 232 28.999999999999996% 8.4%;
    --accent-foreground: 232 5.8% 96.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 5.8% 96.4%;

    --ring: 232 58% 28%;
  }
}


.theme-custom2 {
  --gradient: #1e3c72;

  --background: 232 37.699999999999996% 2.24%;
  --foreground: 232 5.8% 96.4%;

  --muted: 232 28.999999999999996% 8.4%;
  --muted-foreground: 232 5.8% 52.8%;

  --popover: 232 53.4% 3.6400000000000006%;
  --popover-foreground: 232 5.8% 96.4%;

  --card: 232 53.4% 3.6400000000000006%;
  --card-foreground: 232 5.8% 96.4%;

  --border: 232 28.999999999999996% 8.4%;
  --input: 232 28.999999999999996% 8.4%;

  --primary: 232 58% 28%;
  --primary-foreground: 232 5.8% 96.4%;

  --secondary: 232 28.999999999999996% 8.4%;
  --secondary-foreground: 232 5.8% 96.4%;

  --accent: 232 28.999999999999996% 8.4%;
  --accent-foreground: 232 5.8% 96.4%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 232 5.8% 96.4%;

  --ring: 232 58% 28%;
}

.theme-custom {
  --gradient: #000C40;
  --background: 243 100% 98.26%;
  --foreground: 243 10% 0.52%;

  --muted: 243 10% 91.3%;
  --muted-foreground: 243 5% 41.3%;

  --popover: 243 10% 91.3%;
  --popover-foreground: 243 10% 0.65%;

  --card: 243 10% 91.3%;
  --card-foreground: 243 10% 0.65%;

  --border: 243 15% 89.52%;
  --input: 243 15% 89.52%;

  --primary: 243 100% 13%;
  --primary-foreground: 243 2% 91.3%;

  --secondary: 243 5% 95.65%;
  --secondary-foreground: 243 7% 11.3%;

  --accent: 243 5% 95.65%;
  --accent-foreground: 243 7% 11.3%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --ring: 243 100% 13%;

  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground box-border;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}

.backgroundImage {
  background-image: url('/bgTexture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundPattern {
  background-image: url('/iPattern.png');
  background-size: cover;
  background-repeat: repeat-y;
}